<p>Componente Users</p>
<div>
  <ul>
    <li *ngFor="let user of users | slice :0:10">
      <a [routerLink]="['/users/' + user.id]" routerLinkActive="router-link-active">{{ user.name }}</a>
      <button (click)="removeUsers(user.id)">Eliminar usuario</button>
    </li>
  </ul>
</div>
