<h1>{{title}}</h1>
<!-- <button (click)="onSubmit()">Pulsar el botón del header</button> -->
<ul>
  <li>
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/posts']">Posts</a>
  </li>
  <li>
    <a [routerLink]="['/photos']">Photos</a>
  </li>
  <li>
    <a [routerLink]="['/users']">Users</a>
  </li>
</ul>
