<p>Componente Post</p>
<div>
  <ul>
    <li *ngFor="let post of posts | slice :0:10">
      <a [routerLink]="['/posts/' + post.id]" routerLinkActive="router-link-active">{{ post.title }}</a>
      <button (click)="removePost(post.id)">Eliminar post</button>
    </li>
  </ul>
</div>
