<app-header [title]="titleHeader" (recibePadre)="reciboHijo($event)"></app-header>
<!-- <p>{{mensaje}}</p> -->
<router-outlet></router-outlet>
<app-footer [title]="titleFooter" (recibePadre)="reciboHijo($event)"></app-footer>
