<h3>Photos</h3>
<ul>
  <li *ngFor="let photo of photos | slice :0:10">
    <a [routerLink]="['/photos/' + photo.id]" routerLinkActive="router-link-active">
      <img src="{{photo.thumbnailUrl}}" title="Imagen"/>
      {{ photo.title }}
    </a>
  </li>
</ul>
