<div class="">
  <p-panel header="Nombre titular">
    <span appTitle>{{ myName | reverseString }}</span>
  </p-panel>
  <form [formGroup]="formUser" (ngSubmit)="submitForm()" class="p-fluid p-formgrid p-grid p-my-4">
    <div class="p-field p-col">
      <span class="p-float-label">
          <p-calendar formControlName="registeredOn" class="float-input"></p-calendar>
        <label for="registeredOn" class="float-input">Registered On</label>
      </span>
      <p class="p-col-12" *ngIf="formUser.controls.registeredOn.invalid && (formUser.controls.registeredOn.dirty || formUser.controls.registeredOn.touched)">
        Registered on es requerido
      </p>
    </div>

    <div class="p-field p-col">
      <div class="p-d-flex p-flex-column">
        <div class="p-field p-grid p-col-12 p-mb-4">
          <label for="name">Name</label>
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input pInputText formControlName="name" name="name" class="float-input" type="text" />
          </span>
          <p class="p-col-12" *ngIf="formUser.controls.name.invalid && (formUser.controls.name.dirty || formUser.controls.name.touched)">
            Name es requerido
          </p>
        </div>

        <div class="p-field p-grid p-col-12 p-mb-4">
          <span class="p-float-label p-col-12">
            <input pInputText formControlName="email" id="email" class="float-input" name="email"  type="email" />
            <label for="email" class="float-input p-px-2">Email</label>
          </span>
          <p class="p-col-12" *ngIf="formUser.controls.email.invalid && (formUser.controls.email.dirty || formUser.controls.email.touched)">
            Email es requerido
          </p>
        </div>

        <div class="p-field p-grid p-col-12 p-mb-4">
          <span class="p-float-label p-col-12">
            <input pPassword formControlName="password" id="password" class="float-input" name="password" type="password" />
            <label for="password" class="float-input p-px-2">Pasword</label>
          </span>
          <p class="p-col-12" *ngIf="formUser.controls.password.invalid && (formUser.controls.password.dirty || formUser.controls.password.touched)">
            Password es requerido
          </p>
        </div>
      </div>
    </div>

    <div class="p-field p-col-12">
      <button pButton label="Enviar" type="submit" class="p-py-2 p-mx-2 p-button-info" [disabled]="formUser.invalid"></button>
    </div>
  </form>
</div>
